NEXT_PUBLIC_SUPABASE_URL=https://dneblywliswaoohttjse.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_A2v9lGuGU6fg8kqO7EVINQ_rvjzbv1T
SUPABASE_SECRET_KEY=sb_secret_R-D1HZi0blgOfeg1SZ93YA_6qgZz3pX
GEMINI_API_KEY=
ELEVENLABS_API_KEY=